body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}
header h2{
    color: aquamarine;
}
table.schedule{
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
}
caption{
    font-weight: bold;
    margin-bottom: 8px;
}
th,td{
    border: 1px solid #999;
    padding: 8px 12px;
    text-align: center;
}
thead th{
    background-color: aquamarine;
}
tbody tr:nth-child(even){
    background-color: aqua;
}
tfoot th{
    background-color: bisque;
    text-align: right;
}
tfoot td{
    background-color: aquamarine;
    font-weight: bold;
}
