body{
    font-family: 'Times New Roman', Times, serif;
    size: 16px;
    margin: 0;
}

nav{
    background-color: bisque;
}
.box{
    display: flex;
    border: solid;
    gap: 50px;
}
#mainArea{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}